@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,300);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1020px;
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%; }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 559px; } }

@media screen and (max-width: 567px) {
  .container {
    margin: 0 auto;
    width: 320px;
    padding: 6px;
    padding-bottom: 45px; } }

body {
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0; }

* {
  padding-top: 0.1px;
  /* collapsing margins fix */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix {
  clear: both; }

/**Angular ngCloak **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.arrow-wrapper, .preview-wrapper, .gallery-wrapper, .remaining, .mobile-menu {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.banner h1 {
  text-align: center; }

.left-column {
  width: 50%;
  float: left; }

.right-column {
  width: 50%;
  float: right;
  position: relative; }

body {
  font-size: 16px;
  font-family: Verdana, sans-serif; }

.form-section-heading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.form-section {
  margin-bottom: 30px; }

.btn.active, .btn:active, .btn:focus, .btn.focus {
  background-color: #333333 !important; }

.images-container {
  position: absolute;
  width: 325px;
  height: 520px;
  top: 107px;
  left: 88px; }
  .images-container .img {
    position: absolute;
    width: 100%; }

#user-id-input {
  width: 260px; }

.arrows-container {
  height: 516px;
  position: relative; }

.arrow {
  position: absolute;
  top: 258px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  height: 80px; }
  .arrow i {
    line-height: 80px;
    font-size: 60px; }

.arrow-left {
  left: 0px; }

.arrow-right {
  right: 0px; }
