.wrapper {
	@include container(840px);
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1020px;
	transform-origin: 50% 0%;
}

// Tablet and Sideways Phone
@media screen and (min-width: 568px) and (max-width: 768px) {
	.container {
		margin: 0 auto;
		max-width: 559px;
	}
}

// Phone Screen
@media screen and (max-width: 567px) {
	.container {
		margin: 0 auto;
		width: 320px;
    padding: 6px;
    padding-bottom: 45px;
	}
}
