// Colors
$myColor: black;
$main: #6388ff;
$dmain: #204ddc;
$lgray: #f5f5f5;
$mgray: #969696;
$dgray: #333;

// Gallery Image Size
$img: 124px;

// Custom Styles
$lborder: 3px solid #c9c9c9;
$dborder: solid 3px $mgray;

// Susy
$susy: (
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  gutter-position: inside,
  gutters: 0
);

*{
	box-sizing: border-box;
}

// Import SCSS Modules
@import "node_modules/susy/sass/susy";

// Import Google Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,300);
$raleway: 'Raleway', tahoma, sans-serif;

// Import SCSS Partials
@import "containers.scss";
@import "fixes.scss";
@import "common.scss";

