<div class="container">
  <form ng-submit="main.postPerson()">
		<div class="left-column" ng-show="main.isLoaded">

		  <div class="form-group form-section">
		    <label for="user-id-input" class="form-section-heading">User ID</label>
		    <input type="text" class="form-control input-lg" id="user-id-input" placeholder="user001" ng-model="main.currentUser" required>
		  </div>
			<div class="form-section form-section-type" ng-repeat="property in main.schema">
			  <div class="form-section-heading">{{property.image_type_label}}</div>
				<div class="btn-group" data-toggle="buttons">
				<label ng-repeat="value in property.values" class="btn btn-info" ng-model="main.results[main.currentAvatar][$parent.$index]" uib-btn-radio="value.image_id">
					<img height="30" ng-src="{{value.image_location}}">
				</label>
	<!-- 					<label class="btn btn-default" ng-repeat="value in property.values">
					  <input type="radio" name="{{property.image_type}}" ng-model="main.results[$parent.$index]" ng-value="value.image_id" />
						<img height="30" ng-src="{{value.image_location}}">
					</label> -->
				</div>
			</div>

			
		</div>
		<div class="right-column">

			<img width="500" src="img/Pasted.png">
			<div class="images-container">
	<!-- 		  <img class="img" src="https://placehold.it/500x800"> -->
	<img class="img" src="img/background.png">
	<img class="img" ng-repeat="value in main.results[main.currentAvatar]" ng-src="{{main.imageUrls[value].location}}">
			</div>
			<div class="form-group form-section">
		    <label for="avatar-name-input" class="form-section-heading">Avatar Name</label>
		    <input type="text" class="form-control input-lg" id="avatar-name-input" placeholder="John Doe" ng-model="main.avatarName" required>
		  </div>
		  <div class="form-group form-section">
				<input type="submit" class="btn btn-primary btn-block"></input>
		  </div>
		</div>
		<div class="clearfix"></div>
	</form>
</div>